<!DOCTYPE html>
<html lang="en">
<head>
		<title>Mobile Analytics</title>
		<meta charset="utf-8" >
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}" type = "text/css"/>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'webapp/css/reset.css' %}"  type="text/css"/> <!-- CSS reset -->
		<link rel="stylesheet" href="{% static 'webapp/css/style1.css' %}"  type="text/css"/> <!-- Resource style -->
		<script src="{% static 'webapp/js/modernizr.js' %}"></script> <!-- Modernizr -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    /* .row.content {height: -webkit-fill-available} */
    
    /* Set gray background color and 100% height */
    .sidenav {
      /* padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%; */
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 5px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        /* height: auto;
        padding: 15px; */

      }
      /* .row.content {height:auto;}  */
    }

	.sidenav 
	{
		background-color:white;
	}
	.text-left
	{
		background-color: red;
	}

  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
 </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center" >    
  <div class="row content  equal">
    <div class="col-sm-8 text-left "> 
			<div class="container-fluid text-center" >    
				<div class="row content  equal">
					<div class="col-sm-12 text-left ">
							<section class="cd-products-comparison-table">
									<header>
											<div class="container" >
													<div class="row">
															<div class="col-sm-12" style="background: brown"> 
															     main div
															</div> 
													</div>
											</div> 
<!-- 										
													<h2>Compare Models</h2>	
													<button class="btn btn-success" onclick="showScore(this)" >Show Score </button>
													<div class="actions">
														<a href="#0" class="reset">Reset</a>
														<a href="#0" class="filter">Filter</a>
													</div>
												
											</div> -->
										
								
								
									</header>
									
										<div class="cd-products-table">
											<div class="features">
												<div class="top-info">Models</div>
												<input type="hidden" id="mobsize" value="{{s}}" />
												<ul class="cd-features-list">
												
													<li>Price {{s}}</li>
													<li>Resolution</li>
													<li>Display Size</li>
													<li>Color</li>
													<li>OS</li>
													<li>Cpu</li>
													
												</ul>
											</div> <!-- .features -->
											
											<div class="cd-products-wrapper">
												
												<ul class="cd-products-columns" id="myul">
												
												{%for m in mobiles%}
													<li class="product" id="{{forloop.counter}}">
														<div class="top-info">
															<div class="check"></div>
														<img src="{% static m.imagepath1 %}" alt="product image">
															<!--<h3>Score:<span id=score-{{forloop.counter}}></span></h3>-->
															
								
														</div> <!-- .top-info -->
														<ul class="cd-features-list">
															<li id="price-{{m.id}}">
															<div id="price{{ forloop.counter }}"><p id="pricepara{{forloop.counter}}"></p> </div>
															<input type="hidden" id="priceinput-{{ forloop.counter }}" value="{{m.price}}" />
															
															<div class="slidecontainer">
																<input type="range" id="price-{{ forloop.counter }}" min="1" max="10" step="1"  oninput="showVal(this)">
																<span id="Boxprice-{{ forloop.counter }}"></span><span>/10</span>
															</div>
															</li>
															<li id="resolution-{{m.id}}">
																<div id="resolution-{{forloop.counter}}">{{m.Resolution}}</div>
																<div class="slidecontainer">
																	<input type="range" id="resolution-{{ forloop.counter }}" min="1" max="10" step="1"   oninput="showVal(this)">
																	<span id="Boxresolution-{{ forloop.counter }}"></span><span>/10</span>
																</div>
															</li>
															<li id="size-{{m.id}}">
																<div id="size-{{forloop.counter}}">{{m.Size}}"</div>
																<div class="slidecontainer">
																	<input type="range" id="size-{{ forloop.counter }}" min="1" max="10" step="1"  oninput="showVal(this)">
																	<span id="Boxsize-{{ forloop.counter }}"></span><span>/10</span>
																</div>
															</li>
															<li id="color-{{m.id}}">
																	<div id="color-{{forloop.counter}}">{{m.Colors}}</div>
																	<div class="slidecontainer">
																		<input type="range" id="color-{{ forloop.counter }}" min="1" max="10" step="1" oninput="showVal(this)">
																		<span id="Boxcolor-{{ forloop.counter }}"></span><span>/10</span>
																	</div>
															</li>
															<li id="os-{{m.id}}">
																	<div id="os-{{forloop.counter}}">{{m.OS}}</div>
																	<div class="slidecontainer">
																		<input type="range" id="os-{{ forloop.counter }}" min="1" max="10" step="1"  oninput="showVal(this)">
																		<span id="Boxos-{{ forloop.counter }}"></span><span>/10</span>
																	</div>
															</li>
															<li id="cpu-{{m.id}}">
																	<div id="cpu-{{forloop.counter}}">{{m.Cpu}}</div>
																	<div class="slidecontainer">
																		<input type="range" id="cpu-{{ forloop.counter }}" min="1" max="10" step="1" oninput="showVal(this)">
																		<span id="Boxcpu-{{ forloop.counter }}"></span><span>/10</span>
																	</div>
															</li>
														</ul>
													</li> <!-- .product -->
													
													{% endfor %}
													
												</ul> <!-- .cd-products-columns -->
											</div> <!-- .cd-products-wrapper -->
											<ul class="cd-table-navigation">
												<li><a href="#0" class="prev inactive">Prev</a></li>
												<li><a href="#0" class="next">Next</a></li>
											</ul>
										</div> <!-- .cd-products-table -->
									</section> <!-- .cd-products-comparison-table-->
					</div>
				</div>
			</div>	 
				
    </div>
    <div class="col-sm-4 sidenav " id="highchart" >
			

<script src="{%static 'webapp/js/jquery-2.1.4.js'%}"></script>
<script src="{%static 'webapp/js/main.js'%}"></script> <!-- Resource jQuery -->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>


<script>
const listItems = document.querySelectorAll('.cd-products-columns li');
var cl3=$('.cd-products-columns ul li').length;
var models = [];
var modelcol1=[];
var modelcol2=[];
var modelcol3=[];
var count=0;
var mobile_feat="";
var mobile_id="";
var featprior="";
var sum1=0;
var sum2=0;
var sum3=0;
var num=parseInt(document.getElementById('mobsize').value);

$(document).ready(function () {
	var num =parseInt(document.getElementById('mobsize').value);
    var p="pricepara";

	for (var i=1;i<=num;i++){
		//console.log(i);

		var priceinput=parseInt(document.getElementById('priceinput-'+i).value);
		document.getElementById(p+i).innerHTML=priceinput.toLocaleString('en-IN');
		console.log(p+i,priceinput.toLocaleString('en-IN'));
		
	}
	$('#highchart').append("<div id='container'style='min-width: 210px; height: 240px; margin: 0 auto'></div>");
	highchartShow();
});




models.push({
            mid:"1",
			mfeat:"",
			featprior:"0",
			userid:"1",
			elementid:"",
			columnId:"",

});
modelcol1.push({
            mid:"1",
			mfeat:"price",
			featprior:"0",
			userid:"1",
			elementid:"1",
			columnId:"1",

});
modelcol2.push({
            mid:"1",
			mfeat:"price",
			featprior:"0",
			userid:"1",
			elementid:"1",
			columnId:"1",

});
modelcol3.push({
            mid:"1",
			mfeat:"price",
			featprior:"0",
			userid:"1",
			elementid:"1",
			columnId:"1",

});
function showVal(element){
	
	var liId= element.parentElement.parentElement.id;
    var columnid=element.parentElement.parentElement.parentElement.parentElement.id;
	console.log("Start-  coloumn id ",columnid);
	var spstrLi=liId.split("-");
	//console.log(spstr[0]); // mobile  feature
	//console.log(spstr[1]); // mobile id
	mobile_feat=spstrLi[0];
	mobile_id=spstrLi[1];
	//console.log("elementid",element.id);
	var spstr1=element.id.split("-");
	
	var elemfeat=spstr1[0];
	console.log("Elemfeat",elemfeat);
	var elemid=spstr1[1];
	console.log("Elementid",elemid);

	//console.log(listItems.length)
	//console.log("valBox-"+element.id);	
	document.getElementById("Box"+element.id).innerHTML=element.value;
	var flag=false;
	
		for (var index in models) {
				console.log("index-outer",index);
			   
			for (var index in models){
				console.log("modelLength",models.length);	
		        console.log("model[index]id",models[index].elementid); 
			    console.log("model[index]feat",models[index].mfeat);
				if ((models[index].elementid === elemid || models[index].elementid === "" ) && (models[index].mfeat===elemfeat || models[index].mfeat==="" )){
				console.log("index-inner",index);
				
				models[index].featprior=element.value;
				models[index].elementid=elemid;
				models[index].mid=mobile_id;
				models[index].columnId=columnid;
				models[index].mfeat=elemfeat;
				flag=true;
				break; //Stop this loop, we found it!
				}
				else{
					continue;
				}
			}
			

			if(flag==false){
				
				console.log("in else");
				featprior=element.value;
					models.push({
						mid:mobile_id,
						mfeat:mobile_feat,
						featprior:featprior,
						userid:"1",
						elementid:elemid,
						columnId:columnid,
					});
					
				break;
			}
			else {
				flag=true;
				break;
			}
        }
	showScore();
	
}

function showScore(){
	var arr=[];
	console.log(models);
		for(var index in models){
			console.log(index);
			if(models[index].columnId==="1"){
						//console.log("mid1",models[index].columnId);  
						modelcol1.push(models[index]);
				}
			else if(models[index].columnId==="2"){
						//console.log("mid1",models[index].columnId);  
						modelcol2.push(models[index]);
				}
			else if(models[index].columnId==="3"){
						//console.log("mid1",models[index].columnId);  
						modelcol3.push(models[index]);
				}
			else {
				console.log("do nothing");
			}
		}	
		console.log("col1",modelcol1.length);
		console.log("col2",modelcol2.length);
		console.log("col3",modelcol3.length);
	   	if(modelcol1.length!==0){
			sum1=0;
			for (var i=0;i<modelcol1.length;i++){
				var mul=modelcol1[i].featprior*10;
				var div=mul/10;
				sum1=sum1+div;
			}
			modelcol1=[];
		//	document.getElementById("score-1").innerHTML=sum1;
			console.log("sum1",sum1);
		}
		if(modelcol2.length!==0){
			 sum2=0;
			for (var i=0;i<modelcol2.length;i++){
			var mul=modelcol2[i].featprior*10;
			var div=mul/10;
			sum2=sum2+div;
		    }
		modelcol2=[];
		//document.getElementById("score-2").innerHTML=sum2;
		console.log("sum2",sum2);
	
		}
		if(modelcol3.length!==0){
			 sum3=0;
			for (var i=0;i<modelcol3.length;i++){
			var mul=modelcol3[i].featprior*10;
			var div=mul/10;
			sum3=sum3+div;
			
	     	}
		modelcol3=[];
		//document.getElementById("score-3").innerHTML=sum3;
		console.log("sum3",sum3);
		}
		
		highchartShow();



	// $.ajax({
    //                 type: 'POST',
    //                 dataType: "json",
                   
    //                 'data': {
    //                 'd': JSON.stringify(models),
    //                 'csrfmiddlewaretoken': '{{ csrf_token }}',
    //                 },
    //                 url: "{% url 'showscore' %}",
    //                 success: function(response){
    //                     console.log(response);
                    
	// 				}
                    
    //                 });
}
	function highchartShow(){
	Highcharts.chart('container', {
				chart: {
					type: 'column'
				},
				title: {
					text: 'Comparion of mobile phones through chart'
				},
				subtitle: {
					text: ''
				},
				xAxis: {
					type: 'category'
				},
				yAxis: {
					title: {
						text: 'Total Score'
					}

				},
				legend: {
					enabled: false
				},
				plotOptions: {
					series: {
						borderWidth: 0,
						dataLabels: {
							enabled: true,
							format: '{point.y:.1f}'
						}
					}
				},

				tooltip: {
					headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
					pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
				},

				"series": [
					{
						"name": "Mobile Phones",
						"colorByPoint": true,
						"data": [
							{
								"name": "model1",
								"y": sum1,
							
							},
							{
								"name": "model2",
								"y": sum2,
							
							},
							{
								"name": "model3",
								"y": sum3,
								
							},
						
						]
					}
				],
				
				
			});
}

</script>
		</div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
